{% extends 'base.html.twig' %}

{% block title %}Modifier Projet{% endblock %}

{% block monTitre %}
    ✏️ Modifier le projet {{ projet.nom }}
{% endblock %}

{% block body %}
    <div class="container mt-4">
        {{ form_start(form) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.description) }}
            {{ form_row(form.statut) }}
            {{ form_row(form.deadline) }}
            <button type="submit" class="btn btn-warning mt-3">Modifier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
