{% extends 'base.html.twig' %}

{% block title %}Créer un projet{% endblock %}

{% block monTitre %}
    ➕ Créer un nouveau projet
{% endblock %}

{% block body %}
    <div class="container mt-4">
        {{ form_start(form) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.description) }}
            {{ form_row(form.statut) }}
            {{ form_row(form.deadline) }}
            <button type="submit" class="btn btn-success mt-3">Créer Projet</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
